#canv{
    height: 500px;
    width: 500px;
    margin: 0px;
    padding: 0px;
    /*-webkit-filter: blur(1px);
    filter: blur(1px);*/
}
body{
    background-color: #111111;
}
.center{
    text-align: center;
    padding: 0px;
}
@media screen and (min-height:650px) {
    .center{
        margin: 50px 0px 0px 0px;
    }
}
#gyro,#gyro_msg,#tweet,#tweet_msg{
    text-align: center;
    color: #999999;
    font-size: 8px;
    margin: 0px 15px;
}
#tweet{
    display: none;
}
#box{
    display: flex;
    justify-content:center;
    margin-top: 30px;
}

#foot{
    color: #191919;
    text-align: center;
}
#foot a {
    color: #191919;
}

